<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNgSuite">
  <test thread-count="5" name="FunctionalityTest">
    <classes>
      <class name="com.tutorialpoint.qa.testcases.TutorialPointTestcases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->